* {
  margin: 0;
  padding: 0;	
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  letter-spacing: 3px;
}

#cursor {
  position: absolute;
  margin-top: 3px;
  width: 18px;
  height: 27px;
  background-color:rgba(255, 0, 0, 0.3);
  margin-left: 0px;
  left: 12px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  right: 0px;
}
.well{
  color: #ff0000;
  background-color: #000;
  -webkit-box-shadow: inset 3px -3px 3px #ff0000;
  box-shadow: inset 3px -3px 3px #ff0000;
}
.keyboard-container {
  margin-top: 200px;
}

#target-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1DA237
}

.glyphicon-remove {
  color : #CD2626
}

.keypress{
  background: #ff0000;
  background: -webkit-gradient(#000, rgba(201, 21, 21, 0.94), #ff0000);
  background: -o-radial-gradient(#000, rgba(201, 21, 21, 0.94), #ff0000);
  background: -moz-radial-gradient(#000, rgba(201, 21, 21, 0.94), #ff0000);
  background: radial-gradient(#000, rgba(201, 21, 21, 0.94), #ff0000);
  /*background-color: blue;*/
}